.App {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.Circle {
  background-image: linear-gradient(to right,blue,indigo,violet);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.Curved-Arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-right: 19px solid red;
  transform: rotate(10deg);
}
.Curved-Arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid red;
  border-radius: 210px 0 0 0;
  top: -28px;
  left: -29px;
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
}

.Hexagon {
  width: 100px;
  height: 55px;
  background: #3D85F4;
  position: relative;
}
.Hexagon:before {
  content: "";
  position: absolute;
  top: -28px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 29px solid #3D85F4;
}
.Hexagon:after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 29px solid #3D85F4;
}

.Logo {
  height: 60px;
}

.Octagon {
  width: 98px;
  height: 40px;
  background: #000;
  position: relative;
}
.Octagon:before {
  content: "";
  width: 40px;
  height: 0;
  position: absolute;
  top: -28px;
  left: 0;
  border-bottom: 29px solid #000;
  border-left: 29px solid whitesmoke;
  border-right: 29px solid whitesmoke;
}
.Octagon:after {
  content: "";
  width: 40px;
  height: 0;
  position: absolute;
  bottom: -27px;
  left: 0;
  border-top: 29px solid #000;
  border-left: 29px solid whitesmoke;
  border-right: 29px solid whitesmoke;
}  

.Oval {
  background: #7C9DF1;
  border-radius: 100px/50px;
  height: 50px;
  width: 100px;
}

.Parallelogram {
  width: 80px;
  height: 60px;
  transform: skew(20deg);
  background: #FAF06A;
}

.Pentagon {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #A7C0C7 transparent;
}
.Pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -84px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent#A7C0C7;
}

.Rectangle {
  background:#0B7B20;
  height: 50px;
  width: 200px;  
}

.Spacing {
  margin: 10px;
}

.Spin {
  animation: spin infinite 10s linear;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Spin-Slow {
  animation: spin infinite 20s linear;
  pointer-events: none;
}

.Square {
  background: blue;
  height: 50px;
  width: 50px;  
}

.Star-Five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 80px solid transparent;
  border-bottom: 60px solid red;
  border-left: 80px solid transparent;
  transform: rotate(35deg);
}
.Star-Five:before {
  border-bottom: 60px solid red;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -35px;
  left: -55px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.Star-Five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -88px;
  width: 0px;
  height: 0px;
  border-right: 80px solid transparent;
  border-bottom: 60px solid red;
  border-left: 80px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.Star-Six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid #7CF49D;
  position: relative;
}
.Star-Six:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 80px solid #7CF49D;
  position: absolute;
  content: "";
  top: 25px;
  left: -47px;
}

.Trapezoid {
  border-bottom: 60px solid #A9ABB0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 60px;
}

.Triangle-Bottomleft {
  border-bottom: 70px solid #F28912;
  border-right: 70px solid transparent;
  height: 0;
  width: 0;  
}

.Triangle-Bottomright {
  width: 0;
  height: 0;
  border-bottom: 70px solid #560D9E;
  border-left: 70px solid transparent;
}

.Triangle-Down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 70px solid #AACC3B;
}

.Triangle-Left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 50px solid #0E11AF;
}

.Triangle-Right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 50px solid #F2D34F;
}

.Triangle-Topleft {
  width: 0;
  height: 0;
  border-top: 70px solid #EA8CC3;
  border-right: 70px solid transparent;
}

.Triangle-Topright {
  width: 0;
  height: 0;
  border-top: 70px solid #89051F;
  border-left: 70px solid transparent;
}

.Triangle-Up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #6DDFF4;
}
