.App {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.Spin {
  animation: spin infinite 10s linear;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Logo {
  height: 60px;
}

.Rectangle {
  width: 200px;
  height: 50px;
  background: red;
}

.Spacing {
  margin: 10px;
}

.Square {
  height: 50px;
  width: 50px;
  background: blue;
}
